body, html {
	background:black;
	font-family: Trebuchet MS;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: white;
	overflow: hidden;
	color: #0eff04;
}
canvas {
	max-height: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#overlay {
	position: fixed;
}

.buttons {
	float: left;
	margin-left: 20px;
	cursor: pointer;
}

.informationDiv {
	width: 800px;
	left: 25%;
	bottom: 0;
	position: fixed;
}

#information {
	top: 50%;
	width: 25%;
	position: fixed;
}

#countedObjects {
	position: fixed;
	right: 0;
	font-size: 60px;
}
