body, html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color:grey;
	background: black;
	font-weight:300;
}

canvas {
	max-height: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

#overlay {
	width: 100%;
	position: fixed;
	top:30px;
}

.logo{
	margin-top:-5px;
	margin-left:30px;
	font-size:20px;
	letter-spacing: 1px;
	font-weight: 300;
	color:white;
	float:left;
	text-transform: uppercase;
	cursor: pointer;
}

.logo span {
	font-weight:600;
}

.logo:hover{
	opacity: 0.5;	
}

.hide{
	display:none;
	-webkit-transition: all .5s ease-out; 
	-moz-transition: all .5s ease-out; 
    transition: all .5s ease-out;
}


.buttons {
	font-size:14px;
	font-weight:300;
	letter-spacing: 2px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	margin-top:-10px;
	-webkit-transition: all .5s ease-out; 
	-moz-transition: all .5s ease-out; 
    transition: all .5s ease-out;
}

.buttons:hover{
	opacity: 0.5;
	
}

/*//////////////////////
Intro and animation
///////////////////////*/

#intro {
	margin: 0 auto;
	font-weight: 300;
	text-align: center;
	color: white;
	position:relative;
	top:-100px;
	width:512px;
	height:211px;
}

.frame:nth-child(1n) {
	opacity: 0;
	position: absolute;
	top:0;
}
.frame:nth-child(1) { left:131px; top:2px;}
.frame:nth-child(2) { left:134px; top:64px;}
.frame:nth-child(3) { left:44px; top:101px;}
.frame:nth-child(4) { left:275px; top:101px;}
.frame:nth-child(5) { left:2px; top:132px;}
.frame:nth-child(6) { left:129px; top:132px;}
.frame:nth-child(7) { left:262px; top:132px;}
.frame:nth-child(8) { left:18px; top:161px;}
.frame:nth-child(9) { left:77px; top:161px;}
.frame:nth-child(10) { left:490px; top:163px;}
.frame:nth-child(11) { left:132px; top:194px;}
.frame:nth-child(12) { left:219px; top:193px;}
.frame:nth-child(13) { left:273px; top:198px;}
.frame:nth-child(14) { left:301px; top:193px;}

#container-facts {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;
	background: rgba(175, 252, 240, .1);
	width:500px;
	min-height:400px;
	position: relative;
	top:150px;
	left:30px;
	color:white;
	padding:20px;
	cursor: pointer;
}

#container-facts::after {
  content: "";
  background-image: url('images/planet_background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.hidden {
	-webkit-transition: all .5s ease-out; 
	-moz-transition: all .5s ease-out; 
    transition: all .5s ease-out;
	opacity: 0;
}

.show {
	-webkit-transition: all .5s ease-out; 
	-moz-transition: all .5s ease-out; 
    transition: all .5s ease-out;
	opacity: 1;
}

.rightUp {
	float: right;
	margin-bottom:20px;
}

#container-facts .newContent, #container-facts .newContent h3  {
	font-weight: 200;
	color:rgb(175, 252, 240);

}

#container-facts .newContent h3  {
	font-size: 25px;
}


#container-facts .newContent p{
	font-size:15px;
}

#container-facts .newContent p+p{
	font-style: italic;
	font-size: 11px;
	color:rgb(175, 252, 240);
	opacity: .3;

}


