body, html {
	font-family: "helvetica Neue", "helvetica", "arial", sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color:grey;
}

body{
/* background-image: url("mapping01.jpg");
  background-size: contain;
  background-repeat: no-repeat;*/

}
canvas {
	 background-image: url("mapping01.jpg");
  background-size: contain;
  background-repeat: no-repeat;
	max-height: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
}
#overlay {
/*	width:100%;
	height: 100vh;
	background-image: url("mapping01.jpg");
  background-size: contain;
  background-repeat: no-repeat;*/
	position: fixed;
	top:30px;
}

.logo{
	margin-top:-5px;
	font-size:20px;
	letter-spacing: 1px;
	font-weight: 300;
	color:white;
}

.logo span {
	font-weight:500;
}

.buttons {
	font-size:14px;
	font-weight:300;
	letter-spacing: 2px;
	text-transform: uppercase; 
	float: left;
	margin-left: 20px;
	cursor: pointer;
}

.buttons:hover{
	/*opacity: 0.5;*/
	color:white;
	border-bottom: 1px solid white;
	padding-bottom: 3px;
}


.informationDiv {
	width: 800px;
	left: 25%;
	bottom: 20px;
	position: fixed;
	font-size:11px;
	font-weight: 300;
	text-align: center;
	font-variant: small-caps; 
}

#information {
	top: 50%;
	width: 25%;
	position: fixed;
}

#countedObjects {
	position: fixed;
	right: 0;
	font-size: 60px;
	font-weight:300;
}
